
<button type="button" class="btn btn-primary" (click)="m()">userAll</button>
<label>
  <input type="text" class="form-control" [(ngModel)]="userId"/>
</label>
<button type="button" class="btn btn-primary" (click)="m2()">userId</button>
<label>
  <input type="text" class="form-control" [(ngModel)]="placeId"/>
</label>
<button type="button" class="btn btn-primary" (click)="m3()">placeId</button>

<table style="width: 100%; margin: 0 auto;">
  <tr>
    <td>
      <app-login></app-login>
    </td>
  </tr>
  <tr>
    <td>
      <app-registration></app-registration>
    </td>
  </tr>
</table>



